
* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: Arial, sans-serif, Helvetica;
    box-sizing: border-box;
    
}

.encabezado {
    margin-left: 0px;
    margin-right: 0px;
    background: #16325B;
    padding-left: 9.5%;
    padding-right: 0%;
}

.encabezado > div {
    padding: 0px;
}

.nav_contenedor {
    margin: 0%;
}

.nav_contenedor > div {
    margin: 0px;
    padding: 0%;
}


.nav_contenedor .opciones:hover{
    color: #78B7D0;
}


.logo {
    font-family: Arial, sans-serif, Helvetica;
    color: #ffffff;
    font-size: 22px;
    font-weight: 600;
    text-transform: capitalize;
    padding-bottom: 0px;
    align-self: end;
    
}

.opciones{
    color: #ffffff;
    text-transform: capitalize;
    margin: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 0px;
    padding-right: 5px;
    transition: all 0.5s ease;
}

.nav_contenedor ul, ol{
    list-style: none;
}

.nav_opciones li a {
    display: block;
}

.nav_opciones {
    display: flex;
}

.nav_opciones li ul {
    display: none;
    background: #16325B;
    position: absolute;
    z-index: 1;
    top: 75px;
}

.nav_opciones li:hover > ul {
    display: block;
}

#busqueda {
    position: relative;
    width: 250px;
    height: 38px;
    border-radius: 6px;
    font-size: 18px;
    padding: 0 15px;
    border: 2px solid #ffffff;
    outline: none;
    color: #04070e;
    margin-top: 0px;
    margin-bottom: 10px;

}

.btn_busqueda {
    background: transparent;
    border-radius: 70px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    position: relative;
    border: transparent;
    margin-left: 10px;
    margin-right: 10px;
    transition: all 0.5s ease;
}

.btn_busqueda:hover {
    background: #227B94;
}

.btn_carrito {
    background: transparent;
    border-radius: 70px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    position: relative;
    border: transparent;
    margin-left: 0px;
    margin-right: 0px;
    transition: all 0.5s ease;
}

.btn_carrito:hover {
    cursor: pointer;
    background: #227B94;
}

#carrito-contador{
    color: #ffffff;
}

main {    
    color: #020817;
    grid-template-rows: auto;
}

.bienvenida {
    background: #FFDC7F;
    text-align: center;
    padding: 0px;
    margin: 0px;
    z-index: -2;
}

.start-shopping {
    position: relative;
    font-size: larger;
    font-weight: 500;
    border-radius: 5px;
    border: transparent;
    background: #16325B;
    color: #ffffff;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 20px;
    margin-bottom: 50px;
    margin-top: 18px;
    transition: 0.3s;
}
.start-shopping > p {
    position: relative;
    z-index: 1;
}
.start-shopping > span {
    position: absolute;
    border-radius: 5px;
    top: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    background-color: #227B94;

    left: 100%;
    width: 0%;
    transition: height 0.4s;
    transition: 0.3s;
    z-index: 0;
}

/*.start-shopping:hover {
    background: transparent;
}*/

.start-shopping:hover > span {
    left: 0%;
    width: 100%;
    transition: width 0.3s;

}

#p-bienvenida {
    font-size:large;
    margin: 18px;
}

#espacio {
margin-bottom: 0px;
}

.articulos {
    background: transparent;
}

#h-bienvenida {
    font-size: 20pt;
    padding-top: 60px;
    margin-bottom: 18px;
}

.div-productos {
    min-height: 100vh;
    margin: 2em;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2em;
    
}

.productos {
    position: relative;
    color: #020817;
    background-color: #ffffff;
    border-color: #020817;
    border-width: 0px;
    border-radius: 5px;
    border-style: ridge;

    transition: all 0.9s ;

}

.productos::after {
    position: absolute;
    top: 0%;
    left: 0%;
    content: " ";
    width: 100%;
    height: 100%;
    z-index: -2;

    background: #403B4A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #8F8E80, #403B4A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #8F8E80, #403B4A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    filter: blur(2px);
}

.productos:hover::after {
    position: absolute;
    top: 0%;
    left: 0%;
    content: " ";
    width: 100%;
    height: 100%;
    z-index: -1;

    background: #403B4A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #8F8E80, #403B4A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #8F8E80, #403B4A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    filter: blur(10px);

}

.productos > h3 {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;

}

.productos > p {
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 10px;

    
}

.productos > button {
    margin-top: 0px;
    margin-bottom: 15px;
    margin-left: 10px;
}
.productos > div {
    position: relative;
    padding: 20px 0 0 0 ;
    border-bottom: #403B4A 2px solid;

}

.productos  img{
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    max-width: 200px;
    max-height: 450px;
}



.btn-agregar-al-carrito {
    background: transparent;
    border-radius: 70px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    position: relative;
    border: transparent;
    margin-left: 0px;
    margin-right: 0px;
    transition: all 0.5s ease;
}

.btn-agregar-al-carrito:hover {
    cursor: pointer;
    background: #227B94;
}

.detalles {
    border: white;
    border-radius: 5px;
    width: 65px;
    height: 40px;
    background: #16325B;
    font-size: 10pt;
    color: #ffffff;
    transition: 0.5s;
}

.detalles:hover {
    background: #227B94;
}

#barra-lateral {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    display: none;
    background: white;
    box-shadow: -2px 0 4px hsl(0 4% 15% / 10%);
    height: 100%;
    width: 468px;
    transition: .5s;
    padding: 15px;

}

#barra-lateral h2 {
    text-align: center;
    margin-bottom: 20px;
}

#barra-lateral h4 {
    text-align: end;
    margin-bottom: 20px;

}

#comprar {
    margin-left: 40%;
    border: none;
    width: 100px;
    height: 50px;
    background: #16325B;
    font-size: 10pt;
    color: #ffffff;
    transition: 0.5s;
}

#comprar:hover {
    background: #227B94;
}

#salir {
    margin-left: 90%;
    border-radius: 50%;
    padding: 5px;
    padding-left: 8px;
    padding-right: 8px;
    border-color: white;
    border-style: none;
    font-weight: 600;
    font-size: 15pt;
    background: white;
}

#salir:hover {
    background: #d8d7d7;
}

#contenido-carrito {
    border-bottom: #403B4A 2px solid;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

#contenido-carrito > div{
    padding: 15px, 0;
    display: flex;
    gap: 1em;
}

#contenido-carrito > div img{
    max-width: 80px;
    max-height: 100px;

}

#contenido-carrito > div div{
    flex-direction: column;
}

footer {
    background: #16325B;
    text-align: center;
}

@media  screen and (max-width: 768px) {
    .div-productos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1em;
    }

    .productos  img{
        max-width: 150px;
        max-height: 400px;
    }

    .productos > h3 {
        font-size: 12pt;
    }

    #barra-lateral {
        width: 100%;
    }
    
}