
* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: Arial, sans-serif, Helvetica;
    box-sizing: border-box;
}

.encabezado {
    margin-left: 0px;
    margin-right: 0px;
    background: #0369A0;
    display: grid;
    grid-template-columns: 40% 60%;
    padding-left: 9.5%;
    padding-right: 9.5%;
}

.encabezado div {
    padding: 0px;
    
}

.nav_contenedor {
    margin: 0px;
    display: grid;
    grid-template-columns: 100%;
}

.nav_contenedor .opciones:hover{
    color: #FBBD23;
}


.logo {
    font-family: Arial, sans-serif, Helvetica;
    color: #ffffff;
    font-size: 22px;
    font-weight: 600;
    text-transform: capitalize;
    padding-bottom: 0px;
    padding-top: 40px;
    align-items: end;
    
}

.opciones{
    color: #ffffff;
    text-transform: capitalize;
    margin: 10px;
    padding: 5px;
}

#busqueda {
    position: relative;
    width: 250px;
    height: 38px;
    border-radius: 6px;
    font-size: 18px;
    padding: 0 15px;
    border: 2px solid #ffffff;
    outline: none;
    color: #04070e;
    margin-top: 0px;
    margin-bottom: 10px;

}

.btn_busqueda {
    background: #0369A0;
    border-radius: 70px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    position: relative;
    border: #0369A0;
    margin-left: 10px;
    margin-right: 10px;
}

.btn_busqueda:hover {
    background: #0483C8;
    border: #0483C8;
}

.btn_carrito {
    background: #0369A0;
    border-radius: 70px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    position: relative;
    border: #0369A0;
    margin-left: 10px;
    margin-right: 10px;
}

.btn_carrito:hover {
    background: #0483C8;
    border: #0483C8;
}

#carrito-contador{
    color: #ffffff;
}

main {    
    color: #ffffff;
    grid-template-rows: auto;
}

.bienvenida {
    background: #FBBD23;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

.articulos {
    background: #020817;
}

#start-shopping {
    font-size: larger;
    font-weight: 500;
    border-radius: 5px;
    border: #FBBD23;
    background: #F97415;
    color: #ffffff;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 20px;
    margin-bottom: 50px;
    margin-top: 18px;
}

#start-shopping:hover {
    background: #F97C16;
}

#p-bienvenida {
    font-size:large;
    margin: 18px;
}

#espacio {
margin-bottom: 0px;
}

#h-bienvenida {
    font-size: 20pt;
    padding-top: 60px;
    margin-bottom: 18px;
}

footer {
    background: #0369A0;
    text-align: center;
}